/* GENERAL */
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Volkorn', 'Times New Roman', serif;
}

/* BOOTSTRAP GENERAL */
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

/* FONTS */
.heading-font {
    font-family: 'Poppins', 'Arial', serif;
}

.heading-font-ital {
    font-family: 'Poppins', 'Arial', serif;
    font-style: italic;
    font-weight: 200;
}

.brand-font {
    font-family: 'Gravitas One', Courier, monospace;
}

/* NAVBAR */
.navbar {
    margin-bottom: 0;
    border: 0;
    background-color: #CC480F;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 5px 30px;
    border: solid 2px white;
    margin-left: 1vw;
    font-size: 1em;

}

.navbar .navbar-nav a {
    color: white;
    text-transform: uppercase;
}

.navbar .navbar-nav {
    margin-right: 2vw;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
    color: white;
    text-decoration: underline;
}

/* ALERT */

.alert {
    border-radius: 0;
    margin: 0;
    background-color: rgb(20, 20, 20);
    border: none;
    color: rgb(253, 253, 129);
}

/* BACKGROUND-IMAGE */
.img-1 {
    background-image: url("../images /bg-img-woman-bouldering.jpg");
}

.img-2 {
    background-image: url("../images /bg-image-man-in-ice-bath.jpg");
}

.bg-img {
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* BANNER */
.banner {
    position: relative;
    height: auto;
}

.banner-text-top {
    position: absolute;
    max-width: 35vw;
    top: 38vh;
    right: 0;
    color: #fff;
    padding: 0 2vw;
    z-index: 2;
    text-align: right;
}

.triangle-top {
    width: 0;
    height: 0;
    border-top: 60.1vh solid transparent;
    border-right: 50.1vw solid #04861E;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
}

.triangle-bottom {
    width: 0;
    height: 0;
    border-bottom: 60.1vh solid transparent;
    border-left: 50.1vw solid #04861E;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
}

.banner-text-bottom {
    position: absolute;
    max-width: 35vw;
    top: 60vh;
    left: 0;
    color: #fff;
    padding: 2vh 2vw;
    z-index: 2;
    text-align: left;
}