/* GENERAL */

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Volkorn', 'Times New Roman', serif;
    font-size: 18px;
    background-color: #fafafa;
}

.uppercase {
    text-transform: uppercase;
}

/* BOOTSTRAP GENERAL */
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

/* COLOURS */


:root {

    --our-green: #3da369;
    --our-green-faded: rgb(61, 163, 105, 0.25);
    --our-orange: #d46333;


}

/* FONTS */
.heading-font {
    font-family: 'Poppins', 'Arial', serif;
}

.heading-font-ital {
    font-family: 'Poppins', 'Arial', serif;
    font-style: italic;
    font-weight: 200;
}

.brand-font {
    font-family: 'Gravitas One', Courier, monospace;
}

/* NAVBAR */
.navbar {
    border: 0;
    background-color: var(--our-orange);
    padding: 0 5px 0 15px;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar li {
    border-top: 1px solid #ad3e0f;

}

.navbar .navbar-brand {
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 6px 30px;
    border: solid 2px white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1em;

}

.navbar .navbar-nav {
    margin-right: 2vw;
    text-align: center;
}

.navbar .navbar-nav a {
    color: white;
    text-transform: uppercase;
}

.navbar .navbar-nav a:hover {
    text-decoration: underline;
}


.navbar-nav .nav-link.active {
    font-weight: bold;
    color: white;
}

.navbar-toggler-icon {
    font-size: 2rem;
}

.navbar-toggler-icon:hover {
    color: black;
}

/* ALERT */

.alert {
    border-radius: 0;
    margin: 0;
    padding: 2px;
    background-color: rgb(20, 20, 20);
    background-color: rgb(255, 255, 255);
    border-bottom: 5px solid rgba(48, 48, 48, 0.1);
    border-top: 5px solid rgba(48, 48, 48, 0.1);
    color: rgb(48, 48, 48);
    font-weight: 600;
}


/* BACKGROUND-IMAGE */
.img-1 {
    background-image: url("../images/bg-img-woman-climbing.avif");
}

.img-2 {
    background-image: url("../images/bg-img-man-bathing.avif");
}

.bg-img {
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* BANNER */
.banner-top {
    position: relative;
    height: auto;
}

.banner-bottom {
    position: relative;
    height: auto;
}

.banner-text-top {
    position: absolute;
    color: #fff;
    padding: 0 30vw;
    bottom: -12vh;
    z-index: 2;
}

.banner-text-top a {
    color: #fff;
    background-color: var(--our-orange);
    padding: 2px 10px;
    text-decoration: none;
    border-radius: 4%;
    font-weight: bold;
}

.banner-text-top a:hover {
    text-decoration: underline;
}

.triangle-top {
    width: 0;
    height: 0;
    border-top: 30.5vh solid transparent;
    border-right: 100vw solid var(--our-green);
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
}

.triangle-bottom {
    width: 0;
    height: 0;
    border-bottom: 30.5vh solid transparent;
    border-left: 100vw solid var(--our-green);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.banner-text-bottom {
    display: none;
}

/* FOOTER */
footer {
    background-color: #e4e4e4;
    min-height: 120px;
    margin: 0;
    border-top: 30px solid #999999;
    text-align: center;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    margin-top: 8px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    color: black;
    background: #ffffff;
    transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -webkit-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
}

.social-links li a i:hover {
    background: var(--our-orange);
}

.quick-links li {
    padding-bottom: 7px;
}


.quick-links li a {
    color: black;

    text-decoration: none;
}

.quick-links li a:hover {
    color: var(--our-orange);
    text-decoration: underline;
}


#footer-details {
    padding: 20px;
}

#footer-details p a {
    width: 32px;
    height: 32px;
    padding: 8px 0;
    margin-top: 8px;
    font-size: 32px;
    line-height: 7px;
    color: #999999;
    transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -webkit-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
}

#footer-details p a:hover {
    color: var(--our-orange);
}


/* ---------- ABOUT PAGE ---------- */
.main-content {
    max-width: 992px;
    margin: auto;
}

.main-content-section {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.main-content-section h1 {
    padding-top: 4rem;
}

.main-content-section h1,
h2,
h4 {
    font-style: italic;
    text-align: center;
}

.main-content-section p {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.main-content-section h2 {
    padding-bottom: 1rem;
}

.main-content-section h5 {
    padding-bottom: 2rem;
}

.main-content-section li {
    text-decoration: none;
    text-align: center;
}

.about-images-container {
    max-width: 960px;
}

video {
    height: auto;
    max-width: 100%;
}

.about-images {
    background-color: rgb(34, 34, 34);
}

.about-images {
    padding: 0;
}

/* Block dividers */
.block-divider {
    height: 5px;
    border: 0;
    background-color: #4e4e4e;
    background-color: var(--our-green);
    opacity: 0.7;
}

/* ---------- /ABOUT PAGE ---------- */

/* ---------- CLASSES PAGE ---------- */
.accordion {
    margin-bottom: 2.5rem;
}

.accordion-item,
.accordion-item button {
    background-color: #fafafa;
}

.accordion-item {
    border: none;
}

.accordion-button {
    border-bottom: 1px solid #e4e4e4;
}

.accordion-border-right {
    border-right: 1px solid #e4e4e4;
}

.accordion-border-left {
    border-left: 1px solid #e4e4e4;
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: #fafafa;
}

.accordion-button:focus {
    box-shadow: 0 0 0 0.25rem var(--our-green-faded);
    border-color: var(--our-green);
}



/* ---------- /CLASSES PAGE ---------- */

/* ---------- WELLBEING FOCUS PAGE ---------- */

.wellbeing-focus-main h5 {
    padding-top: 1rem;
    margin: 0;
    padding-bottom: 1rem;
}


/* ---------- /WELLBEING FOCUS PAGE ---------- */

/* ---------- PRICING PAGE ---------- */

.pricing-section,
.pricing-section h5 {
    padding-top: 1rem;
    margin: 0;
    padding-bottom: 0;
}

.no-side-padding {
    padding-left: 0;
    padding-right: 0;
}

.table-h4 {
    background-color: #ffffff;
    color: black;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

/* ---------- /PRICING PAGE ---------- */



/* LARGER SCREEN SIZES */
@media (min-width: 993px) {
    .navbar {
        padding: 0 0 0 35px;
    }

    .navbar li {
        border-top: none;
        padding-left: 3vw;
    }

    .banner-text-top {
        right: 0;
        bottom: 1rem;
        padding: 0 2vw;
        max-width: 40vw;
        text-align: right;
    }

    .triangle-top {
        border-top: 60vh solid transparent;
        border-right: 50vw solid var(--our-green);
    }

    .triangle-bottom {
        border-bottom: 60vh solid transparent;
        border-left: 50vw solid var(--our-green);
    }

    .banner-text-bottom {
        display: block;
        position: absolute;
        left: 0;
        top: 2rem;
        max-width: 40vw;
        color: #fff;
        padding: 0 2vw;
        z-index: 2;
        text-align: left;
    }

    .footer-heading {
        padding-bottom: 6px;
    }

    .main-content {
        padding: 1rem;
    }

    .banner-text-top h1 {
        font-size: calc(1.375rem + 1vw);
        margin: 0;
    }
}

/* SMALLER SCREEN SIZES  */
@media (max-width: 992px) {
    .list-style-item {
        display: inline-block;
    }

    .footer-section:last-child {
        padding: 30px;
    }

    .image-container {
        padding: 0;
    }

    .image-container p {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 2rem;
    }
}


@media (orientation: landscape) and (max-width: 992px) and (min-width: 320px) {
    .banner-text-top {
        bottom: -5vw;
        max-height: 40vh;
        height: auto;
        width: 100%;
        text-align: center;
        padding: 0;

    }

    .banner-text-top h1 {
        font-size: calc(1.375rem + 1vw);
        margin: 0;
    }

    .banner-text-top a {
        font-size: 75%;
    }

}

@media (max-width: 1000px) {
    .img-1 {
        background-image: url("../images/small-bg-img-woman-climbing.avif");
    }

    .img-2 {
        background-image: url("../images/small-bg-img-man-bathing.avif");
    }
}