body {
    margin: 0;
    padding: 0;
    height: 100%
}


/* NAVBAR */
.navbar {
    margin-bottom: 0;
    border: 0;
    background-color: #CC480F;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 5px 30px;
    border: solid 2px white;

}

.navbar .navbar-nav a {
    color: white;
    text-transform: uppercase;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
    color: white;
    text-decoration: underline;
}

/* ALERT */
.alert-container {
    padding-left: 0;
    padding-right: 0;
}

.alert {
    border-radius: 0;
    margin: 0;
    background-color: rgb(20, 20, 20);
    border: none;
    color: rgb(253, 253, 129);
}

/* BG-IMG */
.img-1 {
    background-image: url("../images /bg-img-woman-bouldering.jpg");
}

.img-2 {
    background-image: url("../images /bg-image-man-in-ice-bath.jpg");
}

.bg-img {
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}